.statistics {
  margin: 0 auto;
  background-color: #fff;
  width: 200px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statList {
  display: flex;
  list-style: none;
  padding-inline-start: 0px;
}
